// jolie carousel de mohamed
#medcarousel {
    padding:0;
    width: 100%;
    display: inline-block;
    position: relative;
    background-size: auto 100%;
    background-repeat: no-repeat !important;
    background-position: center;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}
#medcarousel:after {
    padding-top: 60%;
    display: block;
    content: '';
}

.carouselleft,.carouselright{
    position: absolute;
    top: 0;
    bottom: 0;
    width:6vh;
    display:inline-block;
    height:100%;
    text-align: center;

}

.carouselright:hover,.carouselleft:hover{
    opacity: 1 !important;
    #carouselicon{
        opacity:1;
    }

}
#carouselicon{
        color:grey;
        font-size:2em;
        position:relative;
        top:47%;
        opacity:0.4;
}

.carouselright{
right:0;
}


// end carousel ***************************